.grid_recetas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 5% 4%;
    row-gap: 35px;
}

.flexRecepieEncab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.5vw;
    margin-right: 5vw;
    
}

.selectMeal{
    border: none;
    border-bottom: 2px solid #AEAEAE;
    background-color: white;
    height: 4vh;
    width: 21vw;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    color: rgb(84, 84, 84);
    font-size: 1.5rem;


}
.titulo_recetas{
    text-align: center;
    margin-top: 30px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    color: rgb(84, 84, 84);
    font-size: 3rem;
}
.label_Recetas{
    display: flex;
    justify-content: end;
    border:none;
    margin-top: 20px;
}
.recetas_Desayunos{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: center;
    background-color: rgba(156, 212, 44, 0.551);
    border-radius:20px;
    
}
.recetas_almuerzos{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: center;
    background-color: rgba(176, 92, 24, 0.643);
    border-radius:20px;
    
}
.recetas_cena{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: center;
    background-color: rgba(49, 59, 172, 0.692);
    border-radius:20px;
    
}
.crearmenu{
    margin-top: 9vh;
    background-color: white;
    
}

