.recetas{
    width:400px;
    height:350px;
    /* display: flex; */
    flex-direction:column;
    text-align:start;
    background-color:white ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius:30px 30px 30px 30px;
}
.imagen_Recipe{
    display: flex;
    margin: 0;
    width:400px;
    height:250px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    padding-bottom: 1rem;
}

.buttonPosition1{
        /* display: flex;
        justify-content: end;
        align-items: end; */
        margin-bottom: 20px;
        margin-right: 15px;
}

.buttonPosition2{
    /* display: flex;
        justify-content: end;
        align-items: end; */
        margin-bottom: 20px;
        margin-right: 15px;
}

.PhotoBox{
    

    
}

.botonesPlaced{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin-right: 25px;
  
}

.fav{
  width: 20%;
  border-radius: 20px;
  background-color: rgb(238, 205, 39);
  cursor: pointer;
  align-items: end;
}
.centrarRecetas{
    display: flex;
    justify-content:center ;
}
.recc{
    width: 10%;
    border-radius: 20px;
    background-color: rgb(231, 142, 19);
    cursor: pointer;
}
.tituloTargetas{
    font-size: 1.5rem;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    color: rgb(84, 84, 84);
    margin-left: 25px;
    margin-right: 25px;
}
.ajustarText{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.negrita{
    font-weight: 700;
    font-size: 20px;
}


/*Esto No*/
.imagen_recetas{
    display: flex;
    margin: 0 auto;
    width:180px;
    height:180px;
    border-radius: 20px;
    background-size: cover;
    padding-bottom: 1rem;
}
.desayuno{
    display: flex;
    flex-direction: column;
    margin: 0 40%;
    gap:10px;
} 