.recetas{
    width:400px;
    height:350px;
    /* display: flex; */
    flex-direction:column;
    text-align:start;
    background-color:white ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius:30px 30px 30px 30px;
}
.imagen_Recipe{
    display: flex;
    margin: 0;
    width:400px;
    height:250px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    padding-bottom: 1rem;
}

.buttonPosition1{
        /* display: flex;
        justify-content: end;
        align-items: end; */
        margin-bottom: 20px;
        margin-right: 15px;
}

.buttonPosition2{
    /* display: flex;
        justify-content: end;
        align-items: end; */
        margin-bottom: 20px;
        margin-right: 15px;
}

.botonesPlaced{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin-right: 25px;
  
}

.fav{
    display: flex;
    border-radius: 999px;
    font-size: 20px;
    padding: 5px 10px;
    background-color: rgb(252, 201, 72);
    margin-right: 15px;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.centrarRecetas{
    display: flex;
    justify-content:center ;
}
.recc{
    
    display: flex;
    border-radius: 999px;
    font-size: 20px;
    padding: 5px 10px;
    background-color: rgba(234, 103, 38, 0.76);
    border: none;
    margin-right: 15px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.nosub{
    text-decoration: none;
}
.tituloTargetas{
    font-size: 1.5rem;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    color: rgb(84, 84, 84);
    margin-left: 25px;
    margin-right: 25px;
}

.see{
    background-color: rgb(230, 200, 46);
    border-radius: 10px;
}




 .imagen_recetas{
    display: flex;
    margin: 0 auto;
    width:180px;
    height:160px;
    border-radius: 20px;
    background-size: cover;
    padding-bottom: 1rem;
}
.desayuno{
    display: flex;
    flex-direction: column;
    margin: 0 40%;
    gap:10px;
} 