.recetas{
    width:230px;
    height:280px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: center;
    background-color:rgba(235, 233, 232, 0.885) ;
    border-radius:30px 30px 30px 30px;
    padding-bottom: 30px;
}
.imagen_Recipe{
    display: flex;
    margin: 0 auto;
    width:230px;
    height:200px;
    border-radius: 20px;
    background-size: cover;
    padding-bottom: 1rem;
}
.fav{
  width: 20%;
  border-radius: 20px;
  background-color: rgb(238, 205, 39);
  cursor: pointer;
}
.centrarRecetas{
    display: flex;
    justify-content:center ;
}
.recc{
    width: 20%;
    border-radius: 20px;
    background-color: rgb(231, 142, 19);
    cursor: pointer;
}
.tituloTargetas{
    margin-top: 10px;
}





/*Esto No*/
.imagen_recetas{
    display: flex;
    margin: 0 auto;
    width:180px;
    height:180px;
    border-radius: 20px;
    background-size: cover;
    padding-bottom: 1rem;
}
.desayuno{
    display: flex;
    flex-direction: column;
    margin: 0 40%;
    gap:10px;
}