.recetas{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: center;
    background-color: rgba(44, 212, 212, 0.551);
    border-radius:0px 0px 30px 30px;
}
.desayuno{
    display: flex;
    flex-direction: column;
    margin: 0 40%;
    gap:10px;
}
.imagen_recetas{
    display: flex;
    margin: 0 auto;
    width:180px;
    height:180px;
    border-radius: 20px;
    background-size: cover;
    padding-bottom: 1rem;
}