/* Da el margin del header y añade la imagen de fondo */
.crearTablasMenu {
    margin-top: 9vh;
    background-image: url('../../../public/imagenes/fondoCrearTablas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20rem;
    z-index: 1;
    position: relative;
}

.crearTablasMenu::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

/* Es el que da styles global al fomulario y añade un fondo blanco transparente */
.formularioCrearTablas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    align-items: center;
    margin: 0 27vw;
    margin-top: 5vh;
    border-radius: 20px;
    background-color: white;
    padding: 5vh 3vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alergias {
    display: flex;
    flex-wrap: wrap; /* Ajustar el wrap para que los elementos fluyan a la siguiente fila */
    justify-content: space-between; /* Distribuir los elementos uniformemente en el contenedor */
    gap: 20px; /* Espacio entre las columnas */
    margin-bottom: 40px;
}

/* Se encarga de modificar los enunciados de cada seccion */
.titulosCrearTablas {
    font-family: 'Montserrat-Bold', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #545454;
    
}

.regimenTitle {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    color: #545454;
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}
.regimen{
    margin-bottom: 20px;
}

.label_CrearTabla {}


.avisoParagraph{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    color: #AEAEAE;
    font-size: 1em;
}
.avisoTitulo{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bolder;
    color: #545454;
    font-size: 1.2em;
}

.buttonGetMenu {
    margin-bottom: 20px;
}

.aviso {
    margin: 15px;
}

.tituloscategorias {
    color: rgb(10, 10, 10);
    font-weight: bold;
}

.iconAlergic {
    width: 40px;
    height: 40px;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; /* Espacio entre las filas */
}

.agree {
    flex-basis: calc(20% - 10px); /* Define el tamaño de cada elemento al 50% del contenedor con un margen de 10px */
    margin-bottom: 20px; /* Añade un espacio entre los elementos */
    display: flex;
    align-items: center;
    padding: 1rem;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    color: #AEAEAE;
    border-bottom: 2px solid #AEAEAE;
}

.agree .label_checkbox {
    margin-right: 40px; /* Espacio entre cada palabra de alérgenos */
}

.box-Meals{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F5F1F1;
    gap: 35px ;


    
}


.individualBoxMeals{
    width:550px;
    height: 100%;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.imgSizeBoxes{
    width: 550px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;
}

.box-MealsBreakfast{
    display: flex;
    Width:50px;
}

.boxTitle{
    font-family: 'Montserrat-Bold', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 70px;
    margin-bottom: 50px;
    color: rgb(252, 201, 72);
}


.mainBox{
    background-color: white;
}


















.label_checkbox {
    margin-left: 2px; /* Espacio entre el icono y el texto */
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    color: #545454;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.checkbox-custom {
    background-image: url('../../../public/imagenes/eggs_702559.png');
    width: 20px;
    height: 20px;
    background-size: cover;
    transition: all 0.3s;
    margin-right: 5px;
    display: inline-block; /* Añade esta línea para que el elemento se comporte correctamente */
}

/* Estilo para cuando el checkbox está seleccionado */
#eggsCheckbox:checked + .label_checkbox .checkbox-custom {
    background-image: url('../../../public/imagenes/egg_837560.png');
}

.check {
    display: none; /* Oculta el checkbox real */
}


.iconAlergic {
    width: 30px; /* Tamaño de los iconos */
    height: 30px;
    margin-right: 10px; /* Espacio entre el icono y el checkbox */
    
}

.check1{
    transform: scale(2);
    border-color: #545454;
    margin-right: 2rem;
}

.flextablas123{
    display: flex;
}

#glutenCheckbox:checked + .label_checkbox .checkbox-custom2 {
    /* Estilos para cuando se selecciona el checkbox de gluten */
    background-image: url('../../../public/imagenes/gluten_1497034.png');
}
.checkbox-custom2 {
    background-image: url('../../../public/imagenes/gluten_1496983.png');
    width: 20px;
    height: 20px;
    background-size: cover;
    transition: all 0.3s;
    margin-right: 5px;
    display: inline-block;
}









#nutsCheckbox:checked + .label_checkbox .checkbox-custom3 {
    /* Estilos para cuando se selecciona el checkbox de nuts */
    background-image: url('../../../public/imagenes/almond_3988277.png');
}
.checkbox-custom3 {
    background-image: url('../../../public/imagenes/almond_3988178.png');
    width: 20px;
    height: 20px;
    background-size: cover;
    transition: all 0.3s;
    margin-right: 5px;
    display: inline-block;
}





#lactoseCheckbox:checked + .label_checkbox .checkbox-custom4 {
    /* Estilos para cuando se selecciona el checkbox de lactose */
    background-image: url('../../../public/imagenes/milk_5125512.png');
}

.checkbox-custom4 {
    background-image: url('../../../public/imagenes/milk_5125413.png');
    width: 20px;
    height: 20px;
    background-size: cover;
    transition: all 0.3s;
    margin-right: 5px;
    display: inline-block;
}


