.CrearReceta {
    margin-top: 8vh;
    height: 100%;
    background-image: url(../../../public/imagenes/pexels-katerina-holmes-5907574.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1; 
}


.FormularioRecetas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin: 5% 10%;
    background-color: white;
    
}

.titulo_CrearReceta {
    margin-top: 2rem;
    text-align: center;
}