.TuPerfil{
    margin-top: 9vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

/* Parte izquierda */
.parteIzquierda{
    display: flex;
    flex-direction: column;   
    background-color: #FFF;
    height: 150vh;
    box-shadow: 1px 0px 3px #00000026, 5px 0px 5px #00000021, 12px 0px 7px #00000014,21px 0px 8px #00000005,
    32px 0px 9px transparent;
    left: 0;
}
/*Imagen usuario*/
.imagenPerfil{
    height: 200px;
    margin: 0 20%;
    margin-top: 2rem;
    background-color: chartreuse;
    display: flex;
    align-items: center;
}

/*Datos usuario*/
.labelPerfil{
    margin-top: 2rem;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.datosUsuario{
    margin-top: 2rem;
    color: #535353;
    font-size: 25px;
    font-weight: 700;
    white-space: nowrap;
}
.border{
    margin: 0 12%;
    margin-top: 2rem;
    border: 1px solid #0000007d;
}

/*Boton Log Out*/
.logOut{
    text-align: center;
    margin-top: 3rem;
    background-color: #aeaeae;
    border-radius: 50px;
    padding: 3px 5px;
}
.logOut-letter{
    color: #ffffff;
    font-size: 15px;
    font-weight:700;
}




/* Parte derecha */
.Bienvenido{
    background-color: #f5f5f5;
    height: 150vh;
    left: 0;
    top:0;

}
/* Texto de Bienvenida */
.BienvenidoUser{
    margin: 0 12%;
    margin-top: 2rem;
    font-family: src('../../../public/fonts/Montserrat-Black.otf') ;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    top: 0; 
}
.textoBienvenido{
    color: #535353;
    font-weight: 700;
}
.textousuario{
    color:#797979;
    font-size: 50px;
    font-weight: 500;
}
/* iconos */

.iconos{
    text-align: center;
}

/* Contenedor Guardado de recetas */

.misRecetas{
    margin:0 2%;
    margin-top: 5px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px;
    gap: 5px;
    overflow: scroll;
}
.MisPlatos{
    margin: 0 12%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.recetasCreadas{
    display: flex;
    flex-direction: column;
    background-color: #eceae7c7;
    margin: 0 auto;
    border-radius: 20px;
    width: 180px;
    height: 100%;
}
.RecetaTitulo{
    text-align: center;
    color: #1e1e1e;
    font-size: 15px;
    font-weight: 600;
}
.ContenedorRecetasUsuario{
    height: 30vh;
    display: grid;
    grid-template-rows: 20% 79% 1%;
    background-color: #ffffff;
}
.tituloCont{
    color: #535353;
    font-size: 25px;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 1rem;
}


.borderyellow{
    border: 2px solid #eeba36;
}
