/*SECTION 1 */

/*VIDEO */

.video-container {
  width: 100%;

}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.video-container::after {
  content: '';
  width: 100%;
  height: 117%;
  display: block;
  position: absolute;
  background-color: black;
  opacity: .3;
  z-index: 1;
  top: 0;
}

/*TEXTO DEL VIDEO */
.section1 {
  margin-top: 9vh;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 4rem;
  z-index: 2;
}

/*SECTION 2 */
/*TITULO DEL COMIENZO DE LA SECCION */
.section2{

}

.containerwork {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 20px;
  max-width: 100%;
  margin-bottom: 100px;

}

.caja {

  width: 25%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.circleButton{
  border-radius: 100%;
}

.caja img {
  max-width: 100%;
  height: auto;
  /* maintain aspect ratio */
  border-radius: 8px;
  /* if you want rounded corners for images */
}

.subtitulo {
  color: #333;
  /* color of subtitles */
  font-size: 1.5em;
  /* size of subtitles */
  margin-top: 10px;
  /* space above the subtitle */
  margin-bottom: 10px;
  /* space below the subtitle */
}

p {
  color: #666;
  /* color of the paragraph text */
  line-height: 1.4;
  /* line height of the paragraph text */
}

.titulo1 {
  font-size: 50px;
  color: rgb(252, 201, 72);
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 30px;
}


/*SECTION 3*/
.section3 {
  display: flex;
  margin-bottom: 100px;
  margin-left: 60px;

}

.sazzon-content {
  width: 50%;

}

.spoonfullTitle {
  font-size: 120px;
  font-family: Arial, Helvetica, sans-serif;
  color: #EF5F3B;
}

.spoonfullParagraph {
  font-size: 25px;
  color: #545454;
  font-family: Arial, Helvetica, sans-serif;
}

.sazzon-highlight {
  font-style: italic;
  font-weight: bold;
}


/*SECTION 4*/
.section4 {
  display: flex;
  justify-content: end;
  margin-bottom: 100px;
  margin-right: 60px;
}

.recipe-content {
  width: 60%;
}

.recipeTitle {
  font-size: 120px;
  font-family: Arial, Helvetica, sans-serif;
  color: #545454;

}

.recipeParagraph {
  font-size: 25px;
  color: #545454;
  font-family: Arial, Helvetica, sans-serif;
}

.standout200recipies {
  color: #EF5F3B;
  font-weight: bold;

}

/*SECTION 5*/

.cajaRectangular {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: rgb(252, 201, 72);
  width: 100%;
  height: 50vh;
  opacity: .8;
}

.eachRecipeBox {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.newRecipiesTitle{
  background-color: rgb(252, 201, 72);
  opacity: .8;
  padding-left: 13px;
  padding-top: 20px;
}