.footer {
  background-color: #272727;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1% 0;
  justify-content: space-between;
}

.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido dentro de la sección */
  align-items: center; /* Centra horizontalmente el contenido */
  width: 25%; /* Cada sección ocupa el 25% del ancho del footer */
  height: 100%; 
}

.logoFooter {
  display: flex; /* Usar flex en lugar de grid para controlar mejor la dirección */
  flex-direction: column; 
  align-items:center; /* Centra horizontalmente los elementos en el contenedor */
  justify-content: center; /* Centra verticalmente los elementos en el contenedor */
}

.footerImage {
  width: 50%;
  margin-bottom: 10px;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
  justify-content: center;
  padding-left: 20px; /* Añadir si es necesario para alinear con otros elementos del footer */
}

.titles {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 10px;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Asegura que el contenido también esté alineado a la izquierda */
}

.icon {
  font-size: 1.5em;
  margin-right: 8px;
}

.contactInfo {
  font-size: 1em;
}

