.footer {
  background-color: #272727;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1% 0;
  justify-content: space-between;
}

.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 25%; 
  height: 100%;
}

.footerImage {
  width: 40%;
  margin-bottom: 10px;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  padding-left: 20px; 
}

.titles {
  font-size: 1.6em;
  font-weight: bold;
  display: inline-block;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.icon {
  font-size: 1.5em;
  margin-right: 8px;
}

.contactInfo {
  font-size: 1em;
}

.allSocialBotons {
  display: flex;
  justify-content: center; 
}

.socialmediabotons {
  margin-right: 7px;
  width: 20%;
}


